Non-standard domains in private

There are some non-standard domains in [`private`](https://github.com/v2fly/domain-list-community/blob/20220813040114/data/private). How about creating new categories (some possible keywords: `non-standard`, `internal`, `router`, `connectivity-check`) for them and keeping the [original purpose](https://github.com/v2fly/domain-list-community/commit/9dee54e2e47338fa95b81319759aae0e890b7f6f) (?) of `private`? :thinking:

For reference:

*   IANA's [Special-Use Domain Names](https://www.iana.org/assignments/special-use-domain-names/special-use-domain-names.xhtml) and [Locally-Served DNS Zones](https://www.iana.org/assignments/locally-served-dns-zones/locally-served-dns-zones.xhtml)
*   systemd-resolved's [`private_domains[]`](https://github.com/systemd/systemd/blob/b622e95f2f59fcb58e23ddafed745eee26a0f52f/src/resolve/resolved-dns-trust-anchor.c#L109)

Actually I don't know what standards or RFCs we should follow. But in my opinion, domains like tplinkwifi.net and my.router are non-standard and should not have a place in `private`.

Here is my version of `private` if anyone needs ideas. Note that I may be completely wrong.

```
# Special-Use Domain Names
# (https://www.iana.org/assignments/special-use-domain-names/special-use-domain-names.xhtml)
6tisch.arpa   # RFC9031
eap-noob.arpa # RFC9140
home.arpa     # RFC8375
# ...

# Locally-Served DNS Zones
# (https://www.iana.org/assignments/locally-served-dns-zones/locally-served-dns-zones.xhtml)
10.in-addr.arpa     # RFC6303
16.172.in-addr.arpa # RFC6303
17.172.in-addr.arpa # RFC6303
# ...

# Suggested by RFC6762, Appendix G
# (https://www.rfc-editor.org/rfc/rfc6762.html#appendix-G)
intranet
internal
private
corp
home
lan
```

I personally agree with this solution. 
But I think it needs more discussion with other maintainers together.
What do you think about that? @IceCodeNew @Loyalsoldier @Robot-DaneelOlivaw @EpLiar @kslr @KevinZonda @parasomn1a @DuckSoft 

I don't think there is some sort of "original purpose" in the `private` category.

<img width="690" alt="image" src="https://user-images.githubusercontent.com/32576256/184582008-43c8f0c4-49d4-45d5-a451-e751f1dc7692.png">

<img width="633" alt="image" src="https://user-images.githubusercontent.com/32576256/184582058-d634816c-1156-438e-9e67-98f6658d6400.png">

<img width="664" alt="image" src="https://user-images.githubusercontent.com/32576256/184582075-25de52b9-e5a1-43da-8570-6c4e56affb3d.png">

https://github.com/v2fly/domain-list-community/blame/master/data/private

> I personally agree with this solution. But I think it needs more discussion with other maintainers together. What do you think about that? @IceCodeNew @Loyalsoldier @Robot-DaneelOlivaw @EpLiar @kslr @KevinZonda @parasomn1a @DuckSoft

可以先不要 at 那么多人，比较打扰对方。

I removed.

> How about creating new categories (some possible keywords: `non-standard`, `internal`, `router`, `connectivity-check`) for them

That is a good idea.
Though, for years the downstream users have come up with the expectations that the `private` category is a mix of those sub-categories. Moving so-called "non-standard" domains would cause some problems.